<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style>
        *{
            padding: 0;
            margin: 0;
        }
        body{
            background-image:url('https://img.freepik.com/free-vector/realistic-graduate-caps-background_52683-80772.jpg');
            background-size: cover;
            
        }
        .form-gap {
        padding-top: 70px;
       
    }   
    </style>

</head>
<body>
<div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center"> 
                  <h2 class="text-center">Forgot password</h2>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
    
                      <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="fa fa-unlock"></i></span>
                          <input id="email" name="npassword" placeholder="new password" class="form-control"  type="email">
                        </div><br>
                        <div class="input-group">
                           
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input id="Password" name="cpassword" placeholder="confirm Password" class="form-control"  type="text">
                          </div>

                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Log In" type="submit">
                      </div>
                      <div>
                            
                            <a href="#">Submit</a>
                        </div>
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
    
</body>
</html>